*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #fffdf0
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4d94;
    /* background-color: #5d4945; */
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    /* background-color: #5d4945; */
    font-family: 'Poppins', sans-serif;
    min-height: 8vh;
    /* margin: 1px; */
    padding: 5px;
}


.search-area button {
    float: left;
    padding: 3px 5px;
    margin-top: 3px;
    /* height: 5vh; */
    /* margin-right: 0.15px; */
    background: rgb(226, 226,226);
    font-size: 12px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    cursor: pointer;
  }
.search-text{
    border-style: solid;
    border-width: 1px;  
    border-left-style: none;
    width: 30vh;
    border-radius: 0px 5px 5px 0px;
    font-size: 10px;
    padding: 3px;
    margin-top: 3px;
}
.search-area button:hover {
    background: #ccc;
  }
.logo{
    color: rgb(226, 226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
list-style: none;
}
.nav-links a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(226, 226,226);
    letter-spacing: 3px;
    font-size: 14px;
}
.nav-links :hover{
    color: yellow;
    font-weight: bolder;
    /* font-size: large; */
    transition: 0.2s ease-in;
}
.burger div{
width: 25px;
height:3px;
background-color: rgb(226, 226,226);
margin: 5px;
transition: all 0.3s ease;
}
.burger{
    display: none;
}

@media screen and (max-width:568px){
    /* body{
        display: none;
    } */
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px; 
        height: 92vh; 
        top: 8vh;
        background-color: #5d4d94;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        transform: translateX(100%);
    }
    .nav-links li{
        opacity:0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}
.nav-active{
    transform: translateX(0%);
    width: 100%;
    transition: transform 0.5s ease-in;
    opacity:1;
}

@media screen and (max-width:1024px) and (min-width: 569px){
    .nav-links{
        width:50%;
    }
}

@media screen and (min-width:1025px){
    .nav-links{
        width:30%;
    }
}

@keyframes navLinkFade{

    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}






